<div class="modalPopupContainer">
    <div class="overlay"></div>
    <div class="modalPopup">
        <div class="modalHeader">
            <div class="headerTitle">First Time Here?</div>
            <div class="closeModal">X</div>
        </div>
        <div class="modalDescription">Thanks for checking us out. Please take a moment to learn how we label our articles so you know what's going on.</div>
        <div class="bottomModalContainer">
            <div class="biasDetails">
                <div class="headerLabel">Bias</div>
                <div class="basicInfo">Articles on Metrix are organized by their political leanings, or bias.</div>
            </div>
            <div class="sentimentDetails">
                <div class="headerLabel">Sentiment</div>
                <div class="basicInfo">Articles have a sentiment level, indicating the negative or positive mood of the article.</div>
            </div>
            <div class="emotionDetails">
                <div class="headerLabel">Emotion</div>
                <div class="basicInfo">Articles have an emotion rating which indicate one of five feelings.</div>
            </div>
            <div class="biasIcons">
                <div class="iconContainer">
                    <div class="icon leftBiasIcon"></div>
                    <span class="iconLabel">Left</span>
                </div>
                <div class="iconContainer">
                    <div class="icon rightBiasIcon"></div>
                    <span class="iconLabel">Right</span>
                </div>
            </div>
            <div class="sentimentIcons">
                <div class="iconContainer">
                    <div class="icon posIcon"></div>
                    <span class="iconLabel posLabel">17.3%</span>
                </div>
                <div class="iconContainer">
                    <div class="icon negIcon"></div>
                    <span class="iconLabel negLabel">-22.5%</span>
                </div>
            </div>
            <div class="emotionIcons">
                <div class="iconContainer">
                    <div class="icon joyIcon"></div>
                    <span class="iconLabel">Joy</span>
                </div>
                <div class="iconContainer">
                    <div class="icon fearIcon"></div>
                    <span class="iconLabel">Fear</span>
                </div>
                <div class="iconContainer">
                    <div class="icon angerIcon"></div>
                    <span class="iconLabel">Anger</span>
                </div>
                <div class="iconContainer">
                    <div class="icon sadnessIcon"></div>
                    <span class="iconLabel">Sadness</span>
                </div>
                <div class="iconContainer">
                    <div class="icon disgustIcon"></div>
                    <span class="iconLabel">Disgust</span>
                </div>
            </div>
        </div>
    </div>
</div>