@{
    ViewData["Title"] = "Articles";
}

<div class="articleCategory">
    <div class="categoryTitle">Campaigns</div>
    <div class="slider">
        <a href="#">
            <div class="articleCard">
                <div class="imageTop" style="background-image: url(/images/bobi-wine.jpg);"></div>
                <div class="bottomContainer biasLeft">
                    <div class="articleTitle">Bobi Wine: Uganda's Afrobeats MP standing up to Musevini</div>
                    <div class="articleExcerpt">Lauren Carey was part of a programme that encourages teenagers from divers backgrounds in Bristol to...</div>
                    <div class="articleSentimentInfo">
                        <div class="emotion">
                            <div class="emotionIcon icon"></div>
                            <span class="emotionText">Fear</span>
                        </div>
                        <div class="rating negativeRating">
                            <div class="ratingIcon icon"></div>
                            <span class="ratingAmount">-22.5%</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="articleCard">
                <div class="imageTop" style="background-image: url(/images/bobi-wine.jpg);"></div>
                <div class="bottomContainer biasRight">
                    <div class="articleTitle">Girl first in her family to go to university wins place at Cambridge</div>
                    <div class="articleExcerpt">Lauren Carey was part of a programme that encourages teenagers from divers backgrounds in Bristol to...</div>
                    <div class="articleSentimentInfo">
                        <div class="emotion">
                            <div class="emotionIcon icon"></div>
                            <span class="emotionText">Joy</span>
                        </div>
                        <div class="rating positiveRating">
                            <div class="ratingIcon icon"></div>
                            <span class="ratingAmount">18.9%</span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="gradientSpectrum"></div>
</div>

<partial name="_FirstTimePopup" />