@{
    ViewData["Title"] = "Sign Up";
}
@*<h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<div class="signUpCard">
    <div class="leftContent">
        <div class="cardTitle">
            Join our mailing list!
        </div>
        <div class="cardInstructions">
            Enter your email below to get our newest
            updates before everyone else. <br/>
            If we want to add anymore text here, we can
            certainly do that.
        </div>
        <input type="text" class="signUpEmailInput" placeholder="Email" />
        <button class="signUpButton">Join In</button>
    </div>
    <div class="rightContent" style="background-image:url(/images/signup.jpg);"></div>
</div>
