/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Defaults */
body {
    font-family: Helvetica, sans-serif;
    min-width: 600px;
    padding-top: 0px;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
}

/* Navigation */
.navbar {
    min-width: 600px;
    border-radius: 0px;
}

.nav.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 4px;
    text-transform: uppercase;
    padding-left: 38px;
}

.navbar-header {
    position: relative;
}

.navbar-brand,
.navbar-inverse .navbar-brand {
    font-family: 'Source Sans pro', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 60px;
    font-weight: bold;
}

.logoPart {
    color: #faa23a;
}

.subTitle {
    position: absolute;
    bottom: -30px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -0.01em;
}

/* Front Page */
.frontPageGrid {
    display: grid;
    height: 80vh;
    width: 88%;
    margin: 40px auto;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a a b b c" "d e f f f";
    grid-gap: 15px;
}

.gridTile {
    background: #e8e8e8;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.5s;
}

.gridTile:hover {
    transform: scale(1.02);
}

.tile_a {
    grid-area: a;
}

.tile_b {
    grid-area: b;
}

.tile_c {
    grid-area: c;
}

.tile_d {
    grid-area: d;
}

.tile_e {
    grid-area: e;
}

.tile_f {
    grid-area: f;
}

.tileInfoLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffffff;
    padding: 6px 9px;
    font-size: 20px;
    font-weight: bold;
}

.tile_a .tileInfoLabel {
    background-color: #11a017bd; /* TODO: convert these to RGBA for edge support */
}

.tile_b .tileInfoLabel {
    background-color: #48228ab0;
}

.tile_c .tileInfoLabel {
    background-color: #bf7200ba;
}

.tile_d .tileInfoLabel {
    background-color: #087786c7;
}

.tile_e .tileInfoLabel {
    background-color: #a2b113d1;
}

.tile_f .tileInfoLabel {
    background-color: #a00d3fbd;
}

/* Sign Up Card */
.signUpCard {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    width: 655px;
    height: 330px;
    margin: 53px auto;
    box-shadow: 0px 1px 4px #dedbdb;
}

.signUpCard .rightContent {
    padding: 32px 50px 32px 30px;
}

.signUpCard input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #c3c3c3;
    font-size: 13px;
}

.signUpCard input::-moz-placeholder { /* Firefox 19+ */
    color: #c3c3c3;
    font-size: 13px;
}

.signUpCard input:-ms-input-placeholder { /* IE 10+ */
    color: #c3c3c3;
    font-size: 13px;
}

.signUpCard input:-moz-placeholder { /* Firefox 18- */
    color: #c3c3c3;
    font-size: 13px;
}

input:placeholder-shown { /* Standard one last! */
    color: #c3c3c3;
    font-size: 13px;
}

.cardTitle {
    font-weight: bold;
    font-size: 24px;
}

.cardInstructions {
    font-size: 15px;
    padding: 23px 0px 44px 0px;
    line-height: 26px;
}

.signUpEmailInput,
.signUpPasswordInput {
    border: none;
    border-bottom: 1px solid #cccbcb;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    height: 30px;
}

.signUpButton {
    border: none;
    background-color: #ffa500;
    color: #ffffff;
    width: 100%;
    padding: 11px 0px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.leftContent {
    color: #ffffff;
    position: relative;
    background: linear-gradient(rgba(255, 193, 7, 0.73), rgba(255, 193, 7, 0.73)), url(/images/signup.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 20px;
    text-align: right;
}

/*.leftContent::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 193, 7, 0.73);
}*/

/* Article Card */
.articleCategory {
    margin: 0px 50px 60px 50px;
}

.articleCategory:first-of-type {
    margin-top: 20px;
}

.categoryTitle {
    font-size: 20px;
    font-weight: bold;
    color: #FFC107;
    margin-bottom: 10px;
    cursor: pointer;
}

.articleCard {
    display: grid;
    grid-template-rows: 1.7fr 0.3fr;
    height: 235px;
    width: 240px;
    box-shadow: 0px 3px 7px #d6d6d6;
}

.articleCard * {
    pointer-events: none;
}

.articleCard .imageTop {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.articleCard .bottomContainer {
    padding: 8px 10px 5px 10px;
}

.biasLeft {
    border: 2px solid #2196F3;
    border-top: none;
}

.biasRight {
    border: 2px solid #f44336;
    border-top: none;
}

.articleTitle {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -0.02em;
    padding-right: 30px;
    min-height: 28px;
}

.articleExcerpt {
    font-size: 8px;
    padding: 8px 0px;
    min-height: 38px;
}

.articleSentimentInfo > div {
    display: inline-block;
}

.emotionText {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -0.02em;
}

.articleSentimentInfo .emotionIcon,
.articleSentimentInfo .ratingIcon {
    margin-right: 0px;
}

.ratingIcon {
    margin-left: 10px;
}

.ratingAmount {
    font-size: 9px;
    font-weight: bold;
}

.positiveRating .ratingAmount {
    color: #a4e06f;
}

.negativeRating .ratingAmount {
    color: #f44336;
}

/* Article Card small */
.articleCard.smallCard {
    height: 159px;
    width: 159px;
    margin: 8px 0px;
}

.articleCard.smallCard .articleTitle {
    padding-right: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 135px;
    min-height: unset;
}

.articleCard.smallCard .articleExcerpt {
    padding: 6px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 135px;
    min-height: unset;
}

/* Gradient Spectrum */
.gradientSpectrum {
    margin-top: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(to right, #006df0, #d60129);
}

.ui-slider-handle {
    border-radius: 25px;
    left: 21%;
    border: 1px solid rgb(232, 232, 232);
    width: 20px;
    height: 20px;
    margin-top: -1px;
    margin-left: -10px;
    outline: none;
    box-shadow: 0px 1px 5px #c5c5c5;
}

.handleLabel {
    width: 159px;
    height: 37px;
    background-color: #424949;
    position: absolute;
    top: 31px;
    left: -72px;
    right: 0;
    margin: auto;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
}

.handleLabel:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -8px;
    left: -1px;
    right: 0;
    margin: auto;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #424949;
}

/* Emotion / Sentiment articles (Topic page) */
.relatedArticles {
    margin: 0px 50px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

.typeContainer {
    display: inline-block;
    text-align: left;
}

.typeContainer:not(:first-of-type) {
    margin-left: 30px;
}

.typeHeader {
    font-size: 24px;
    font-weight: bold;
}

.cardsContainer {
    display: inline-block;
}

.emotionCategory {
    display: inline-block;
    margin-right: 10px;
}

.emotionCategory:last-of-type {
    margin-right: 0;
}

.emotionLabel {
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

/* Slick Slider */
.slider .slick-slide {
    width: 240px !important;
    margin: 0px 7px;
}

.sliderV2 .articleCard {
    margin: 0px auto;
}

.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    display: block;
    border: none;
    outline: none;
    background: none;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
}

.slick-prev {
    left: -40px;
    border-right: 13px solid #2196f3;
}

.slick-next {
    right: -40px;
    border-left: 13px solid #f44336;
}

/* First Time Visit Modal Popup */
.modalPopupContainer {
    display: none;
}

.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modalPopup {
    position: fixed;
    background: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    width: 480px;
    margin: auto;
    padding: 7px 17px;
    z-index: 100;
}

.headerTitle {
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.closeModal {
    float: right;
    font-size: 11px;
    color: #a9a9a9;
    cursor: pointer;
    padding: 3px 5px;
}

.modalDescription {
    font-size: 12px;
    color: #000000;
    padding: 8px 70px 8px 0px;

}

.bottomModalContainer {
    display: grid;
    grid-template-rows: 1fr 1.6fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 16px;
    grid-gap: 9px 23px;
}

.headerLabel {
    font-weight: bold;
}

.basicInfo {
    font-size: 8px;
    font-weight: bold;
    padding-top: 9px;
}

.biasIcons,
.sentimentIcons,
.emotionIcons {
    align-self: center;
}

.iconContainer {
    width: 60px;
    text-align: left;
    margin: auto;
}

.icon {
    height: 15px;
    width: 15px;
    background: #e8e8e8;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.iconLabel {
    vertical-align: middle;
    font-size: 8px;
    font-weight: bold;
}

.posLabel {
    font-weight: normal;
    color: #a4e06f;
}

.negLabel {
    font-weight: normal;
    color: #f44336;
}

/* Popup Message */
.messagePopup {
    display: none;
    position: fixed;
    top: 0px;
    left: 10px;
    color: #efefef;
    padding: 18px 22px;
    width: 300px;
}

.error {
    background-color: #D80027;
}

.success {
    background-color: #4caf50;
}